@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
  background-image:
    radial-gradient(
      1200px 600px at 15% 10%,
      #f2f2f2 0%,
      transparent 50%
    ),
    radial-gradient(
      1000px 500px at 85% 25%,
      #e6e6e6 0%,
      transparent 65%
    ),
    radial-gradient(
      1400px 700px at 50% 85%,
      #ededed 0%,
      transparent 70%
    ),
    linear-gradient(
      180deg,
      #ffffff 0%,
      #f5f5f5 20%,
      #dcdcdc 40%,
      #f7f7f7 60%,
      #ffffff 100%
    );

  background-repeat: no-repeat;
  background-attachment: fixed;
}


.option {
  position: relative;
  cursor: pointer;
}

.option::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.option:hover {
  color: #000;
}

.option:hover::after {
  width: 100%;
}

.green {
  background-color: #04bf7b;
}

.gray {
  background-color: #ecccfe;
}

.purple {
  background-color: #bb61f0;
}

.orange {
  background-color: #ff964f;
}

.yellow {
  background-color: #f7fd8f;
}

.rose {
  background-color: #fd8f8f;
}
